.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.org-name{
  padding-left: 850px;
  font-size: calc(12px + 2vmin);
}
.User-display{
  background-color: #3b536c;
  font-size: calc(5px + 2vmin);
  padding-left: 500px;
  color: silver;
}
.App-header {
  background-color: #3b536c;
  color: #f8ca30;
}

.header{
  background-color: #3b536c;
}

.link{
  margin-right: 25px;
  color:silver;
  border-style:outset;
  border-color: #f8ca30;
  border-width: 2px;
  margin-bottom: 10px;
  color: white;
  padding: 2px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}


.link:hover{
  color: #3b536c;
  background-color: #f8ca30;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width:1200px;
  height: 600px;
  margin-top: 50px;
  margin-left:350px;
  align-items: left;
  text-align: left;
  background-color: #3b536c;
  text-align: center;
}

.landing-container{
  width:1200px;
  height: 600px;
  margin-top: 50px;
  margin-left:350px;
  align-items: center;
  text-align: center;
  background-color: #3b6c61;
}


.input-container {
  display:block;
  color:silver;
  flex-direction: column;
  gap: 8px;
  padding-left: 60px;
  margin: 10px;
}


.signin-form{
  width:120px;
  height: 60px;
  margin-top: 50px;
  margin-left:350px;
  background-color: #3b6c61;
  
  border-style:outset;
  border-color: #f8ca30;
  border-width: 2px;
}
.label{
  margin-right: 100px;
}
.Submit{
  margin-top: 30px;
  margin-left: 50px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.input-button{
  margin-left: 175px;
}
.label1{
  margin-right: 35px;
}
.label2{
  margin-right: 35px;
}
.input-box{
  color:silver;
  background-color: #3b536c;
  border-color: #f8ca30;
  align-items: center;
  margin-top: 25px;
}



/* Tab Container */
.Tabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }

}

/* Tab Navigation */
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.nav li.active {
  background: #39A2DB;
}

/* First and Second Tab Styles */
.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}
